h1 Welcome to Admin

pre
  | The admin elephant wishes you a good day.


                  ___.-~"~-._   __....__
                .'    `    \ ~"~        ``-.
               /` _      )  `\              `\
              /`  a)    /     |               `\
             :`        /      |                 \
        <`-._|`  .-.  (      /   .            `;\\
         `-. `--'_.'-.;\___/'   .      .       | \\
      _     /:--`     |        /     /        .'  \\
     ("\   /`/        |       '     '         /    :`;
     `\'\_/`/         .\     /`~`=-.:        /     ``
       `._.'          /`\    |      `\      /(
                     /  /\   |        `Y   /  \
                    J  /  Y  |         |  /`\  \
                   /  |   |  |         |  |  |  |
                  "---"  /___|        /___|  /__|
                         '"""         '"""  '"""